<ion-view view-title="Sequence Creation" class="energized">
    <ion-content>
       
        <div class="card list">
           <div class="item">
                # of images in sequence: {{ num_images }}
           </div>
           
            <div class="item item-button-right">
                take image
                <button class="button button-outline button-energized" on-tap="take_image()">
                    <i class="icon ion-android-camera"></i>
                </button>
            </div>
            
            <div class="item item-button-right">
                preview sequence
                <button class="button button-outline button-calm" on-tap="compile_preview()">
                    <i class="icon ion-play"></i>
                </button>
            </div>
            
            <div class="item item-button-right">
                new sequence
                <button class="button button-outline button-balanced" on-tap="new_sequence_creation()">
                    <i class="icon ion-plus-circled"></i>
                </button>
            </div>
        </div>
        
        <script id="show_preview.html" type="text/ng-template">
            <ion-header-bar align-title="center" class="bar-calm">
                <h1 class="title">preview sequence</h1>

                <button class="button button-icon" on-tap="closeModal()">
                    <i class="icon ion-close-circled dark"></i>
                </button>
            </ion-header-bar>
           
            <ion-content>
                <div class="card">
                    <video class="padding" style="width: 100%; max-height: 100%" ng-src="{{ preview }}" controls></video>
            <!--
                    <div class="padding">
                        <button class="button button-block button-dark" ng-click="closeModal()">close</button>
                    </div>
            -->
                </div>
            </ion-content>
        </script>
        
    </ion-content>
</ion-view>
