<ion-view view-title="Set Connection Options">
    <ion-content>
        <!-- Set Connection IP -->
        <div class="card">
            <div class="list" ng-if="current_ip">
                <div class="item">
                    current ip = {{ current_ip }}
                </div>
            </div>
           
            <form name="set_connection_ip" ng-submit="set_ip(connection_ip, set_connection_ip)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="connection ip" ng-model="connection_ip">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-balanced">set connection ip</button>
                </div>
            </form>
        </div>
       
       <!-- Set Image Directory -->
        <div class="card">
            <div class="list" ng-if="current_dir">
                <div class="item">
                    ~/{{ current_dir }}
                </div>
            </div>
           
            <form name="set_image_directory" ng-submit="set_dir(image_directory)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="image directory" ng-model="image_directory">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive">set image directory</button>
                </div>
            </form>
        </div>
        
        <!-- Set Framerate -->
        <div class="card">
            <div class="list" ng-if="current_framerate">
                <div class="item">
                    framerate = {{ current_framerate }}
                </div>
            </div>
           
            <form name="set_preview_framerate" ng-submit="set_framerate(framerate)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="framerate" ng-model="framerate">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-energized">set framerate</button>
                </div>
            </form>
        </div>
        
    </ion-content>
</ion-view>
